Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, tidy-xml, json-tool, marcion-validate, python-unittest

Path conditions:
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: \.json$, but not: ^archive/
  marcion-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/

[fix #72][Bible] Always Write the `<body>` Tag.
  bible/stshenouda.org/main.py
Due: python-unittest

[#123][Bible/Pre-commit] Allow large JSON files.
  .pre-commit-config.yaml
Due: none

[#123][Bible] Get the data from `data/input/`.
  bible/stshenouda.org/main.py
Due: python-unittest

[#123][README] Add a note about the `data/` subdirectory.
  README.md
Due: none

[README] Update guidelines.
  README.md
Due: none

[fix #83][Pre-commit/Test] Force Python Unit Tests.
  .pre-commit-config.yaml
Due: none

[Pre-commit] Color the Output of the `stats` hook!
  .pre-commit-config.yaml
Due: none

[fix #83][Test] Add Placeholder Unit Tests for all Python Files.
  dictionary/inflect/test/test_constants.py
  dictionary/kellia.uni-goettingen.de/test/test_analysis.py
  dictionary/marcion.sourceforge.net/test/test_constants.py
  dictionary/marcion.sourceforge.net/test/test_enforcer.py
  dictionary/marcion.sourceforge.net/test/test_img_find.py
  dictionary/marcion.sourceforge.net/test/test_parser.py
  dictionary/marcion.sourceforge.net/test/test_tree.py
  dictionary/marcion.sourceforge.net/test/test_word.py
  flashcards/test/test_constants.py
  flashcards/test/test_deck.py
  flashcards/test/test_enforcer.py
  flashcards/test/test_main.py
Due: python-unittest

[#83][Test] Args are parsed in the main function.
  bible/stshenouda.org/main.py
  dictionary/copticsite.com/main.py
  dictionary/kellia.uni-goettingen.de/main.py
  dictionary/marcion.sourceforge.net/img_find.py
  dictionary/marcion.sourceforge.net/main.py
  flashcards/main.py
Due: python-unittest

[#119][Flashcards/HTML] Parameterize the HTML format arguments.
  flashcards/constants.py
  flashcards/field.py
Due: python-unittest

[#119][Flashcards/HTML] Dawoud and Crum have correct "alt" text.
  flashcards/constants.py
Due: python-unittest

[Pre-commit] Check for "DO NOT SUBMIT" markers.
  .pre-commit-config.yaml
Due: none

[fix #140][Flashcards] Parameterize Converting New Lines to <br/> Tags.
  flashcards/field.py
Due: python-unittest

[#140,#145,#146][Flashcards/HTML] HTML Line Breaks default to False.
  flashcards/constants.py
  flashcards/field.py
Due: python-unittest

[#146][Flashcards/HTML] Remove a few unnecessary `line_br=True` params.
  flashcards/constants.py
Due: python-unittest

[Pre-commit] Nit: Remove idempotent filter `files: .*`.
  .pre-commit-config.yaml
Due: none

[#1][Crum/Dawoud] ⲥⲓϯ also has ⲥⲁϯ as a derivation.
  dictionary/marcion.sourceforge.net/data/marcion-dawoud/marcion_dawoud.tsv
Due: none

[Stats] Run `make stats`.
  stats.tsv
Due: none

[#5] Delete an image.
  dictionary/marcion.sourceforge.net/data/img-300/147-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/147-1-2.txt
  dictionary/marcion.sourceforge.net/data/img/147-1-2.jpg
Due: marcion-validate

[#123][Crum/Images] Fix typo in file path.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[#9][Crum] Fix typo in Marcion. ⲕⲟϩ is also Bohairic.
  dictionary/marcion.sourceforge.net/data/marcion-input/coptwrd.tsv
Due: none

[#1][Crum/Dawoud] Run `make crum_dawoud` to fetch ⲭ.
  dictionary/marcion.sourceforge.net/data/marcion-dawoud/marcion_dawoud.tsv
Due: none

[#1][Crum/Dawoud] Run `make crum_dawoud` to fetch ⲱ.
  dictionary/marcion.sourceforge.net/data/marcion-dawoud/marcion_dawoud.tsv
Due: none

[#83][Pre-commit] Check for the existence of __init__.py in test/.
  .pre-commit-config.yaml
Due: none

[#139][Utils] Define a new utils package.
  test/__init__.py
  test/test_utils.py
  utils.py
Due: python-unittest

[#139][Crum] Write `tsvs` format.
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest

[#139][Flashcards/TSVS] Define a `tsvs` field type.
  flashcards/field.py
Due: python-unittest

[#139][Flashcards/Crum] Read from the `tsvs` format.
  flashcards/constants.py
Due: python-unittest

[#139][Crum/Images] Use the new TSVS format.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[#139][Utils/TSVS] Pass `kwargs`.
  utils.py
Due: python-unittest

[#139,#71,#36,#87][Flashcards] Support TSVS not TSV.
  flashcards/deck.py
  flashcards/main.py
Due: python-unittest

[#152][Anki] Add a TODO about zipping / unzipping data.
  .gitignore
Due: none
