Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-one-readme

python-unittest-exists:
  name: python-unittest-exists
  ...

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  ...

crum-img-validate:
  name: crum-img-validate
  entry: python dictionary/marcion.sourceforge.net/img_helper.py --validate
  language: system
  pass_filenames: false

python-unittest:
  name: python-unittest
  ...

check-one-readme:
  name: check-one-readme
  ...

[#213][Pre-commit] Move Bash Scripts to Standalone Files.
  .pre-commit-config.yaml
  pre-commit/check-do-not-submit.sh
  pre-commit/check-one-readme.sh
  pre-commit/check-todo.sh
  pre-commit/commit-file-size.sh
  pre-commit/json-tool.sh
  pre-commit/python-unittest-exists.sh
  pre-commit/python-unittest.sh
  pre-commit/stats.sh
Due: check-one-readme

[#213][Pre-commit] Add Empty Lines to Facilitate Navigation.
  .pre-commit-config.yaml
Due: check-one-readme

[#141][Flashcards/HTML] Copy an HTML Obfuscator.
  site/html_classes_obfuscator.py
  site/test/test_html_classes_obfuscator.py
Due: python-unittest-exists, python-unittest, check-one-readme

[#213][Pre-commit] Update the Comments about `errexit`.
  pre-commit/check-do-not-submit.sh
  pre-commit/check-todo.sh
Due: check-one-readme

[#213][Pre-commit/Stats] `pre-commit` Contains Shared Code.
  stats.sh
Due: check-one-readme

[#214][Stats] Calculate the Archive Lines of Code more Rigorously.
  stats.sh
Due: check-one-readme

[#214][Stats] Use `readonly` or `local -r` Whenever Possible.
  stats.sh
Due: check-one-readme

[#177][Stats] Add the Number of Files of Code.
  data/stats.tsv
  stats.sh
Due: check-one-readme

[#177][Stats] Count the Number of Files of Code per Language.
  data/stats.tsv
  stats.sh
Due: check-one-readme

[fix #214][Stats] Add Assertions. Ensure Numbers Make Sense.
  stats.sh
Due: check-one-readme

[#9][Crum] Fix Typo.
  dictionary/marcion.sourceforge.net/data/input/coptdrv.tsv
  dictionary/marcion.sourceforge.net/data/input/coptwrd.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/00201_00300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00001_00100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00101_00200.tsv
Due: check-one-readme

[#5][Crum/Images] Update and Delete some Images.
  dictionary/marcion.sourceforge.net/data/img-300/186-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/31-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/51-1-2.webp
  dictionary/marcion.sourceforge.net/data/img-300/87-5-1.webp
  dictionary/marcion.sourceforge.net/data/img-sources/186-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/31-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/51-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/87-5-1.txt
  dictionary/marcion.sourceforge.net/data/img/186-1-1.png
  dictionary/marcion.sourceforge.net/data/img/31-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/51-1-2.webp
  dictionary/marcion.sourceforge.net/data/img/87-5-1.webp
Due: crum-img-validate, check-one-readme

[#1,#189][Crum/Dawoud,Senses] Run `make crum_appendices`.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: check-one-readme

[#1,#9,#5,#189] Run `make flashcards test`.
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/105.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/122.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/13.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/142.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/186.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/197.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/21.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/227.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/26.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/31.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/343.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/37.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/51.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/59.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/79.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/83.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/87.html
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_186-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_31-1-1.jpg
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_51-1-2.webp
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_87-5-1.webp
Due: tidy-html, check-one-readme

[Stats] Run `make stats`.
  data/stats.tsv
Due: check-one-readme

[#141][Crum/TypeScript] Define the Dialects as Classes as Well.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: check-one-readme

[#213][HTML/Pre-commit] Move the `tidy-html` Hook Up.
  .pre-commit-config.yaml
Due: check-one-readme

[#213][JavaScript] Remove `fixmyjs`.
  .pre-commit-config.yaml
Due: check-one-readme

[#141][Crum/TypeScript] Dialect Classes and Codes are Independent.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: check-one-readme

[#141][HTML] Initial Refactoring of the HTML Classes Obfuscator.
  site/html_classes_obfuscator.py
  site/obfuscate_classes.py
  site/test/test_obfuscate_classes.py
Due: python-unittest-exists, python-unittest, check-one-readme

[#141][Site] Obfuscate Classes in JavaScript.
  site/obfuscate_classes.py
Due: python-unittest-exists, python-unittest, check-one-readme

[#141][Site] Call the Class Obfuscator in the Site Pipeline.
  site/publish.sh
Due: check-one-readme

[#141][Site] Fix Bug in Class Obfuscator.
  site/obfuscate_classes.py
Due: python-unittest-exists, python-unittest, check-one-readme

[fix #59][README] Include more Details in the Diagram.
  data/coptic.drawio.png
Due: check-one-readme

[#109][Site/Home] Add an "under construction" Notice in the Home Page.
  site/home.md
Due: check-one-readme

[#141][Site] Obfuscate Classes Found in JavaScript, but not in HTML.
  site/obfuscate_classes.py
Due: python-unittest-exists, python-unittest, check-one-readme

[#141][Site] Restructure Site Publishing to Allow more Granularity.
  Makefile
  site/publish.sh
Due: check-one-readme

[#213,#139][Pre-commit] Fix Bug. Suppress `grep` Failures.
  pre-commit/commit-file-size.sh
Due: check-one-readme

[#213][Pre-commit/YAML] Expand the YAML Hook Patterns.
  .yamlfmt
  .yamllint
Due: check-one-readme

[#141][Crum/TypeScript] Fix Bug. Don't Split an Empty String.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: check-one-readme

[#141][Site/Makefile] Fix typo in Flag Name.
  Makefile
Due: check-one-readme

[#98][Site] Update your Email.
  dictionary/marcion.sourceforge.net/img_helper.py
  flashcards/constants.py
  morphology/kindle.py
  site/home.md
Due: python-unittest-exists, python-unittest, check-one-readme

[#215][Python/Pre-commit] Add `mypy` as a Requirement.
  requirements.txt
Due: check-one-readme

[#215][Bible/Python] Migrate from `type_enforced` to `mypy`.
  .pre-commit-config.yaml
  bible/stshenouda.org/main.py
Due: python-unittest-exists, python-unittest, check-one-readme

[#111][Pre-commit] Source `.helpers` in the Script.
  pre-commit/check-do-not-submit.sh
  pre-commit/check-one-readme.sh
  pre-commit/check-todo.sh
  pre-commit/commit-file-size.sh
  pre-commit/json-tool.sh
  pre-commit/python-unittest-exists.sh
  pre-commit/python-unittest.sh
  pre-commit/stats.sh
  pre-commit/typescript-string-literals.sh
Due: check-one-readme

[#213][JSON/Pre-commit] `json-tool` doesn't Work with `.jsonc` Files.
  .pre-commit-config.yaml
Due: check-one-readme

[#215][Python/Pre-commit] Define Project Placeholders for `mypy`.
  .helpers
  .pre-commit-config.yaml
  pre-commit/mypy.sh
  requirements.txt
  setup.py
  utils.py
Due: python-unittest-exists, python-unittest, check-one-readme

[#213][Pre-commit] Always run pre-commit scripts with `-o errexit`.
  pre-commit/check-do-not-submit.sh
  pre-commit/check-todo.sh
Due: check-one-readme

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: (.jshintrc|.csslintrc|\.jsonc?)$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-one-readme: any of: not (^README.md$), but not: ^archive/
