Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctoc-readme, python-unittest

doctoc-readme:
  name: doctoc-readme
  entry: doctoc_readme.sh
  language: script
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: python_unittest.sh
  language: script
  pass_filenames: false

README: Update TODO's.
  README.md
Due: doctoc-readme

Scratch the current timestamping mechanism.
  Makefile
  README.md
  timestamp.txt
Due: doctoc-readme

Create placeholder Python unittests.
  README.md
  bible/stshenouda.org/test/__init__.py
  bible/stshenouda.org/test/test_main.py
  dictionary/copticsite.com/test/__init__.py
  dictionary/copticsite.com/test/test_main.py
  dictionary/kellia.uni-goettingen.de/test/__init__.py
  dictionary/kellia.uni-goettingen.de/test/test_main.py
  dictionary/marcion.sourceforge.net/test/__init__.py
  dictionary/marcion.sourceforge.net/test/test_main.py
  python_unittest.sh
Due: doctoc-readme, python-unittest

README: Add a link to https://github.com/louiseyousre2020/coptic-words.
  README.md
Due: doctoc-readme

Move an obsolete script to the archive.
  archive/dictionary/marcion.sourceforge.net/obsolete/utils/formatter.py
Due: python-unittest

Update an image.
  dictionary/marcion.sourceforge.net/data/img-300/119-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/119-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/119-1-1.png
Due: none

Exclude ./archive/copticbible.apk/ from the lines of code count.
  Makefile
Due: none

Marcion: Image finding: Simplify, and allow other filters.
  Makefile
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

Inflections: Change the signature of the module.
  dictionary/marcion.sourceforge.net/inflect.py
Due: python-unittest

Support absolute python imports. Move inflect to a shared location.
  .gitignore
  Makefile
  dictionary/inflect/inflect.py
  requirements.txt
  setup.py
Due: python-unittest

Inflections: Verbal prefixes first draft.
  dictionary/inflect/constants.py
Due: python-unittest

Add unit tests for the inflect module.
  dictionary/inflect/test/__init__.py
  dictionary/inflect/test/test_inflect.py
  python_unittest.sh
Due: python-unittest

Update Makefile.
  Makefile
Due: none

Inflect: Add placeholders and TODO's.
  dictionary/inflect/constants.py
Due: python-unittest

Inflect: Expand the list of constants.
  dictionary/inflect/constants.py
Due: python-unittest

Inflect: Implement primitive, outrageously inaccurate inflection.
  dictionary/inflect/inflect.py
Due: python-unittest

README: Update the TODO about the Kindle dictionary.
  README.md
Due: doctoc-readme

Marcion: Rename tree.html() to tree.html_table().
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest

Marcion: Parameterize enabling type enforcement.
  dictionary/marcion.sourceforge.net/enforcer.py
  dictionary/marcion.sourceforge.net/img_find.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parser.py
  dictionary/marcion.sourceforge.net/tree.py
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest

Kindle: Draft a Kindle dictionary writer.
  dictionary/kindle/kindle.py
Due: python-unittest

Kindle: Polish module.
  dictionary/kindle/kindle.py
Due: python-unittest

Inflect: Implement is_noun and is_verb functions in the module.
  dictionary/inflect/inflect.py
Due: python-unittest

Add placeholder unit tests to the Kindle module.
  dictionary/kindle/test/__init__.py
  dictionary/kindle/test/test_kindle.py
  python_unittest.sh
Due: python-unittest

Inflect: Fix typo, and add a small unit test.
  dictionary/inflect/inflect.py
  dictionary/inflect/test/test_inflect.py
Due: python-unittest

Kindle: Fix typos in module.
  dictionary/kindle/kindle.py
Due: python-unittest

Marcion: Add a handsome photo of Walter Crum.
  dictionary/marcion.sourceforge.net/data/crum/Crum/Crum.jpg
Due: none

Inflect: Add the morpheme to the list of inflections.
  dictionary/inflect/inflect.py
Due: python-unittest

Kindle: Paginate the output.
  README.md
  dictionary/kindle/kindle.py
Due: doctoc-readme, python-unittest

Kindle: Delete empty lines from output XHTML.
  dictionary/kindle/kindle.py
Due: python-unittest

Update on the Marcion-Inflection type mapping.
  README.md
  dictionary/marcion.sourceforge.net/constants.py
Due: doctoc-readme, python-unittest

README: Update inflection TODO's.
  README.md
  dictionary/inflect/constants.py
Due: doctoc-readme, python-unittest

Path conditions:
  doctoc-readme: any of: \.(md|markdown|mdown)$
  python-unittest: any of: \.py$
