Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-do-not-submit

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: \.json$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-do-not-submit: any of: not (^\.pre-commit-config\.yaml$), but not: ^archive/

[#66][TODO] Move TODO Helpers from `Makefile` to `.helpers`.
  .helpers
  Makefile
Due: check-do-not-submit

[#66][TODO/Pre-commit] Warn Against Stray TODO's.
  .pre-commit-config.yaml
Due: none

[#213][Pre-commit] Refactor Custom Hooks.
  .pre-commit-config.yaml
Due: none

[Bible/Makefile] Nit: Avoid Using the `_aux` Recipe Suffix.
  Makefile
Due: check-do-not-submit

[#66,#213][TODO/Pre-commit] Retain Colors from `grep` in `check-todo`.
  .pre-commit-config.yaml
Due: none

[Stats] Run `make stats`.
  data/stats.tsv
Due: check-do-not-submit

[#218][Dawoud] Add Instructions to Crop coptic-treasures.com Watermark.
  README.md
Due: check-do-not-submit

[#213][Pre-commit] Restrict Execution of some Custom Hooks with `types`.
  .pre-commit-config.yaml
Due: none

[#218][Site] Give Credits to Coptic Treasures. And KELLIA as well.
  site/home.md
Due: check-do-not-submit

[fix #218][Crum/Dawoud/Flashcards] Use Dawoud Scans without a Watermark.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#125,#28][Dawoud] Scans have a Hyperlink to the PDF Download Page.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: check-do-not-submit

[#141][Site] Simplify File Name Obfuscation Using Regex Functions.
  site/obfuscate_paths.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[Site] Update the Message about Cleaning a Dirty Repo.
  site/publish.sh
Due: check-do-not-submit

[#215][Python/Pre-commit] Delete the `mypy` Hook Placeholder.
  .pre-commit-config.yaml
Due: none

[#213][Python/Pre-commit] Set Black Max Line Length to 79.
  .pre-commit-config.yaml
Due: none

[#213][Python/Pre-commit] Run `pre-commit run black --all-files`.
  bible/stshenouda.org/main.py
  dictionary/kellia.uni-goettingen.de/analysis.py
  dictionary/kellia.uni-goettingen.de/main.py
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/img_helper.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parser.py
  dictionary/marcion.sourceforge.net/tree.py
  dictionary/marcion.sourceforge.net/word.py
  flashcards/constants.py
  flashcards/deck.py
  flashcards/field.py
  flashcards/main.py
  morphology/kindle.py
  site/obfuscate_paths.py
  utils.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#213][Python/Pre-commit] Add Python Hooks.
  .pre-commit-config.yaml
  pyproject.toml
Due: check-do-not-submit

[#213][Python/Pre-commit] Appease the new Python Linters and Formatters.
  bible/stshenouda.org/main.py
  bible/stshenouda.org/test/test_main.py
  dictionary/copticsite.com/test/test_main.py
  dictionary/kellia.uni-goettingen.de/main.py
  dictionary/kellia.uni-goettingen.de/test/test_analysis.py
  dictionary/kellia.uni-goettingen.de/test/test_main.py
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/img_helper.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parser.py
  dictionary/marcion.sourceforge.net/test/test_constants.py
  dictionary/marcion.sourceforge.net/test/test_enforcer.py
  dictionary/marcion.sourceforge.net/test/test_img_helper.py
  dictionary/marcion.sourceforge.net/test/test_main.py
  dictionary/marcion.sourceforge.net/test/test_parser.py
  dictionary/marcion.sourceforge.net/test/test_tree.py
  dictionary/marcion.sourceforge.net/test/test_word.py
  dictionary/marcion.sourceforge.net/tree.py
  dictionary/marcion.sourceforge.net/word.py
  flashcards/constants.py
  flashcards/deck.py
  flashcards/field.py
  flashcards/main.py
  flashcards/test/test_constants.py
  flashcards/test/test_deck.py
  flashcards/test/test_enforcer.py
  flashcards/test/test_field.py
  flashcards/test/test_main.py
  morphology/inflect.py
  morphology/kindle.py
  morphology/test/test_constants.py
  morphology/test/test_inflect.py
  morphology/test/test_kindle.py
  site/obfuscate_paths.py
  site/test/test_obfuscate_paths.py
  test/test_utils.py
  utils.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#213][Python/Pre-commit] Handle some `dead` Catches.
  dictionary/copticsite.com/main.py
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parse.py
  flashcards/field.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#213][Python/Pre-commit] Rename `parser` to `parse`.
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parse.py
  dictionary/marcion.sourceforge.net/test/test_parse.py
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[fix #213][Python/Pre-commit] (Effectively) Reduce `dead` Severity.
  .helpers
  .pre-commit-config.yaml
  requirements.txt
Due: check-do-not-submit

[#139][Pre-commit] Disable Errors on Large Commits.
  .pre-commit-config.yaml
Due: none

[#213][Python/Pre-commit] Color the Output of the `pydead` Helper.
  .helpers
Due: check-do-not-submit

[#213][Crum/Flashcards] Delete the `gsheet` field type.
  flashcards/field.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#215][Python] Add `pandas-stubs` as a Dependency.
  requirements.txt
Due: check-do-not-submit

[#109][Site] Use a Direct Download Link for the Anki Package.
  site/home.md
Due: check-do-not-submit

[#16][README] Restructure the File.
  README.md
Due: check-do-not-submit

[#213][Pre-commit] Ignore `.ruff_cache`.
  .gitignore
  .helpers
  stats.sh
Due: check-do-not-submit

[#201][TypeScript/Stats] Fix Bug: Update the Stats Header.
  data/stats.tsv
Due: check-do-not-submit

[#213][Stats] Add a Stat for TOML Lines of Code.
  data/stats.tsv
  stats.sh
Due: check-do-not-submit

[Stats/Makefile] Define a Recipe to Reformat the Stats TSV.
  Makefile
Due: check-do-not-submit

[#36,#87][Flashcards/Makefile] Fix Bug: Delete Obsolete Flag.
  Makefile
Due: check-do-not-submit

[#141,#186][JavaScript] Wrap the Anki JavaScript in a Function.
  flashcards/deck.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#186][TypeScript/Anki] Avoidance of Global Variables no longer Needed.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: check-do-not-submit

[#202][Flashcards/HTML] Annotate a TODO with a GitHub Issue Number.
  flashcards/constants/a_coptic_dictionary/script.ts
Due: check-do-not-submit

[#141][Flashcards/TypeScript] Group Class Names into Constants.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/web/a_coptic_dictionary__all_dialects/script.js
Due: check-do-not-submit

[#141][TypeScript/Pre-commit] Restrict String Literals.
  .pre-commit-config.yaml
  flashcards/constants/a_coptic_dictionary/script.ts.whitelist.txt
  pre-commit/typescript-string-literals.sh
Due: check-do-not-submit
