Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctoc-readme, python-unittest

doctoc-readme:
  name: doctoc-readme
  entry: doctoc_readme.sh
  language: script
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: python_unittest.sh
  language: script
  pass_filenames: false

[Kindle/README] Update the TODO's.
  README.md
Due: doctoc-readme

[Makefile] Place kindle in the generate_2 rule instead of generate_3.
  Makefile
Due: none

[Makefile] Publish the Kindle dictionary to Drive using a make rule.
  Makefile
  TEMPLATE_vault.sh
Due: none

[Makefile] Update development rules.
  Makefile
Due: none

[Kindle] The <idx:iform> tag can be self-closing.
  dictionary/kindle/kindle.py
Due: python-unittest

[Kindle] Add all spellings as inflections.
  dictionary/inflect/inflect.py
  dictionary/kindle/kindle.py
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest

[Kindle/README] Remove warning that are no longer encountered.
  README.md
Due: doctoc-readme

[Kindle/README] Suggest splitting inflections into several orths.
  README.md
Due: doctoc-readme

[Kindle/README] Add an error to the list of error / warning messages.
  README.md
Due: doctoc-readme

[Makefile] Fix typo.
  Makefile
Due: none

[Kindle] Delete unused pictures.
  dictionary/marcion.sourceforge.net/data/output/dialect-B/Cover.jpg
  dictionary/marcion.sourceforge.net/data/output/dialect-B/Crum.jpg
Due: none

[PRE-COMMIT] Simplify triggering `doctoc`.
  .pre-commit-config.yaml
  Makefile
  doctoc_readme.sh
Due: none

[Kindle/README] Update TODO's.
  README.md
Due: doctoc-readme

[PRE-COMMIT] Tidy HTML, XML, and XHTML, in pre-commits.
  .pre-commit-config.yaml
Due: none

[Marcion] Fix the formatting of the derivations list.
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest

[Marcion/Inflect] In doubt, assume UNKNOWN_GENDER instead of NO_ARTICLE.
  dictionary/marcion.sourceforge.net/constants.py
Due: python-unittest

[Kindle/README] Add a TODO about obsolete tooling.
  README.md
Due: doctoc-readme

[STATS] Run `make stats`.
  stats.tsv
Due: none

[Bible] Write a rule to publish to Drive.
  Makefile
  TEMPLATE_vault.sh
Due: none

[Pre-commit] Simplify the trigger for the python unit tests.
  .pre-commit-config.yaml
  python_unittest.sh
Due: none

[Pre-commit] Deduplicate unit test runs.
  .pre-commit-config.yaml
Due: none

[Pre-commit] Add a bunch of useful language-agnostic pre-commits.
  .pre-commit-config.yaml
Due: none

[Pre-commit] Update tidy invocation.
  .pre-commit-config.yaml
Due: none

[Stats] Add date.
  stats.sh
  stats.tsv
Due: none

[Stats/Pre-commit] Run `stats.sh` once a day as a pre-commit.
  .pre-commit-config.yaml
Due: none

[README] Find TODO's using a make rule.
  Makefile
  README.md
Due: doctoc-readme

[README] Run `make todo` and delete some obsolete / completed items.
  bible/stshenouda.org/main.py
  dictionary/inflect/inflect.py
  dictionary/kindle/kindle.py
  dictionary/marcion.sourceforge.net/img_setup.sh
  flashcards/constants.py
Due: python-unittest

[Kindle] Parameterize zfill to accommodate other dictionaries.
  dictionary/kindle/kindle.py
Due: python-unittest

Path conditions:
  doctoc-readme: any of: \.(md|markdown|mdown)$
  python-unittest: any of: \.py$
