Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, tidy-xml, json-tool, marcion-validate, python-unittest

Path conditions:
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: \.json$, but not: ^archive/
  marcion-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/

[fix #148][Pre-commit/JSON] `json5.tool` Doesn't Need to Run Anymore.
  .pre-commit-config.yaml
Due: none

[Utils/TSVS] Stop using an obsolete numpy function.
  utils.py
Due: python-unittest

[#83][KELLIA/Analysis] Parse args in main, to make the file importable.
  dictionary/kellia.uni-goettingen.de/analysis.py
Due: python-unittest

[#150][Utils] Define `read_tsv`, type enforcement, and aesthetics.
  utils.py
Due: python-unittest

[fix #150][Utils] Use the `utils` package.
  bible/stshenouda.org/main.py
  dictionary/kellia.uni-goettingen.de/analysis.py
  dictionary/kellia.uni-goettingen.de/main.py
  dictionary/marcion.sourceforge.net/img_find.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parser.py
  flashcards/deck.py
  flashcards/field.py
  flashcards/main.py
  utils.py
Due: python-unittest

[#9][Crum] Fix typo. Ϣⲟⲗⲙⲉⲥ is gnat.
  dictionary/marcion.sourceforge.net/data/marcion-input/coptwrd.tsv
Due: none

[#8][Crum/Notes] Run `make crum_notes` to download a note about ⲉⲣⲓ.
  dictionary/marcion.sourceforge.net/data/notes/notes.tsv
Due: none

[Makefile] Polishing.
  Makefile
Due: none

[#1][Crum/Dawoud] Run `make crum_dawoud`.
  dictionary/marcion.sourceforge.net/data/marcion-dawoud/marcion_dawoud.tsv
Due: none

[#8][Crum/Notes] Run `make crum_notes`.
  dictionary/marcion.sourceforge.net/data/notes/notes.tsv
Due: none

[Stats] Run `make stats`.
  stats.tsv
Due: none

[fix #156][Flashcards/Makefile] Simplify and Speed up the Pipeline.
  .gitignore
  Makefile
  flashcards/main.py
Due: python-unittest

[Utils] Log a Message by Default Whenever a TSVS File is Written.
  utils.py
Due: python-unittest

[#9][Crum/Typos] Run `make crum` to pick up a typo. Ϣⲟⲗⲙⲉⲥ is gnat.
  dictionary/marcion.sourceforge.net/data/output/mobi/dialect-B/01301_01400.xhtml
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01801_01900.tsv
Due: tidy-xml

[#158][Utils] Define a `write` function.
  utils.py
Due: python-unittest

[#158][Utils] Log a Message When Something is Written.
  bible/stshenouda.org/main.py
  dictionary/kindle/kindle.py
Due: python-unittest

[fix #158][Utils] Use a function to report when a file is written.
  bible/stshenouda.org/main.py
  dictionary/kindle/kindle.py
  utils.py
Due: python-unittest

[#9][Crum/Typos] Run `make flashcards` to pick up a typo (Ϣⲟⲗⲙⲉⲥ).
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/1899.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/1899.html
Due: tidy-html

[Makefile] Run the `test` recipe multiple times by defining it twice.
  Makefile
Due: none

[Makefile] Update the TODO recipe.
  Makefile
Due: none

Nitpicks: Delete obsolete TODO's, and update automated commit message.
  bible/stshenouda.org/main.py
  flashcards/field.py
  site/publish.sh
Due: python-unittest

[#91][Flashcards/HTML] Write an <audio> Tag in the HTML Version.
  flashcards/data/output/html/a_coptic_dictionary__bohairic/5.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/6.html
  flashcards/deck.py
  flashcards/field.py
Due: tidy-html, python-unittest

[Pre-commit] Run `check-do-not-submit` at the end.
  .pre-commit-config.yaml
Due: none

[#151][Bible] Fix bug, and polish code.
  bible/stshenouda.org/main.py
Due: python-unittest

[#151][Bible/Makefile] Define a new rule for testing.
  Makefile
Due: none

[#151][Bible/HTML] Stop prettifying the HTML using BeautifulSoup.
  bible/stshenouda.org/main.py
Due: python-unittest

[#151][Bible] Polishing code: type enforcement, no global args.
  bible/stshenouda.org/main.py
Due: python-unittest

[#151][Pre-commit] Allow Large HTML Files.
  .pre-commit-config.yaml
Due: none

[#151][Bible] Write one HTML per language.
  bible/stshenouda.org/main.py
Due: python-unittest

[#123][Bible/EPUB] Write all EPUB to a single directory under `data/`.
  Makefile
  bible/stshenouda.org/main.py
Due: python-unittest
