Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctoc-readme, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Python.
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.2.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)

  # Markdown.
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.40.0
    hooks:
      - id: markdownlint-fix
        args: [--disable, MD033, MD036]

  # Local scripts.
  - repo: local
    hooks:
      - id: marcion-validate
        name: marcion-validate
        entry: dictionary/marcion.sourceforge.net/img_validate.sh
        language: script
        pass_filenames: false
        # TODO: Add a filter to this pre-commit.

      - id: doctoc-readme
        name: doctoc-readme
        entry: doctoc_readme.sh
        language: script
        types: [markdown]
        pass_filenames: false

      - id: python-unittest
        name: python-unittest
        entry: python_unittest.sh
        language: script
        types: [python]
        pass_filenames: false

Kindle: Delete obsolete debug line.
  dictionary/kindle/kindle.py
Due: python-unittest

Use self-closing tags to support XHTML.
  bible/stshenouda.org/main.py
  dictionary/kindle/kindle.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/tree.py
  flashcards/constants.py
  flashcards/deck.py
  flashcards/field.py
Due: python-unittest

Kindle: Use a single spelling as the orth format in XHTML.
  dictionary/kindle/kindle.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest

Kindle: Escape "&" in order for the XHTML to be valid.
  dictionary/kindle/kindle.py
Due: python-unittest

Marcion: Simplify handling of unknown characters.
  README.md
  dictionary/marcion.sourceforge.net/parser.py
Due: doctoc-readme, python-unittest

Nit: Kindle: Appease the type checker.
  dictionary/kindle/kindle.py
Due: python-unittest

Inflect: Hack: Extract a true morpheme out of the morpheme.
  dictionary/inflect/inflect.py
Due: python-unittest

Some steps towards rigor in Marcion / Kindle / Inflect.
  README.md
  dictionary/inflect/inflect.py
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/enforcer.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parser.py
Due: doctoc-readme, python-unittest

Marcion: Fix typo: Unbalanced parentheses!
  dictionary/marcion.sourceforge.net/data/marcion-input/coptdrv.tsv
  dictionary/marcion.sourceforge.net/data/marcion-input/coptwrd.tsv
Due: none

[Kindle] Add a link to Kindle docs.
  README.md
Due: doctoc-readme

[Kindle] Save the entry fields for use in other methods.
  dictionary/kindle/kindle.py
Due: python-unittest

[Inflect] Parameterize strictness.
  dictionary/inflect/inflect.py
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest

[Kindle/Inflect] Update the TODO's about the dictionary and inflection.
  README.md
Due: doctoc-readme

[Marcion] Fix typo in image-finding algorithm.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[Marcion] Add images.
  dictionary/marcion.sourceforge.net/data/img-300/1629-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/1633-1-1.webp
  dictionary/marcion.sourceforge.net/data/img-300/1633-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img-300/1635-1-1.webp
  dictionary/marcion.sourceforge.net/data/img-300/1635-1-2.webp
  dictionary/marcion.sourceforge.net/data/img-300/1635-1-3.jpg
  dictionary/marcion.sourceforge.net/data/img-300/1638-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/1639-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1629-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1633-1-1.webp
  dictionary/marcion.sourceforge.net/data/img/1633-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img/1635-1-1.webp
  dictionary/marcion.sourceforge.net/data/img/1635-1-2.webp
  dictionary/marcion.sourceforge.net/data/img/1635-1-3.jpg
  dictionary/marcion.sourceforge.net/data/img/1638-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/1639-1-1.jpg
Due: none

[Kindle] Add make rule to generate the dictionary from the EPUB.
  Makefile
Due: none

[README] Update TODO's.
  README.md
Due: doctoc-readme

[Marcion] Treat obscure "{nic}" as a detached type, to appease parsers.
  dictionary/marcion.sourceforge.net/constants.py
Due: python-unittest

[Marcion] Treat "(?)" as a detached type to facilitate normalization.
  dictionary/marcion.sourceforge.net/constants.py
Due: python-unittest

[Marcion] Implement normalization of optional letters.
  README.md
  dictionary/marcion.sourceforge.net/parser.py
  dictionary/marcion.sourceforge.net/word.py
Due: doctoc-readme, python-unittest

[Marcion] Actuate normalization.
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest

[Marcion] Rename word._normalize to word._normalize_optional_letters.
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest

[Marcion] Normalize attestations (though disable them by default).
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest

[Marcion] Force the use of an explicit formatting method for words.
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest

[Marcion] Set args explicity for word format in Coptic-within-English.
  dictionary/marcion.sourceforge.net/parser.py
Due: python-unittest

[Marcion] Remove attestation markers from lemmas and sort keys.
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest

[Marcion] Hack normalization check for words that have no spellings!
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest

[Marcion] Add a TODO about handling Coptic-within-English.
  dictionary/marcion.sourceforge.net/parser.py
Due: python-unittest

[Marcion] Granular normalization flags.
  dictionary/marcion.sourceforge.net/parser.py
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest

[Marcion] Simplify parser.parse_word_cell.
  dictionary/marcion.sourceforge.net/parser.py
Due: python-unittest
