Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctoc-readme, python-unittest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Python.
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.2.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)

  # Markdown.
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.40.0
    hooks:
      - id: markdownlint-fix
        args: [--disable, MD033, MD036]

  # Local scripts.
  - repo: local
    hooks:
      - id: marcion-validate
        name: marcion-validate
        entry: dictionary/marcion.sourceforge.net/img_validate.sh
        language: script
        pass_filenames: false
        # TODO: Add a filter to this pre-commit.

      - id: doctoc-readme
        name: doctoc-readme
        entry: doctoc_readme.sh
        language: script
        types: [markdown]
        pass_filenames: false

      - id: python-unittest
        name: python-unittest
        entry: python_unittest.sh
        language: script
        types: [python]
        pass_filenames: false

Rename some make rules.
  Makefile
Due: none

Rename timestamp to timestamp.txt.
  Makefile
  timestamp.txt
Due: none

Remove prefixes from the top-level make rules for consistency.
  Makefile
Due: none

Draft assigning dependencies in Makefile.
  Makefile
Due: none

Rename a couple of make rules.
  Makefile
Due: none

Add shebang in img_setup.sh.
  dictionary/marcion.sourceforge.net/img_setup.sh
Due: none

Add shebangs to all `.sh` files.
  TEMPLATE-secrets.sh
  dictionary/marcion.sourceforge.net/img_setup.sh
  dictionary/marcion.sourceforge.net/img_validate.sh
  doctoc_readme.sh
  python_unittest.sh
  utils/deep_readme.sh
  utils/guess_py_requirements.sh
  utils/ziff.sh
Due: none

Update the pre-commit TODO about Marcion image validation.
  .pre-commit-config.yaml
Due: none

KELLIA and copticsite rules depend on FORCE.
  Makefile
Due: none

Update the TODO about build dependencies.
  README.md
Due: doctoc-readme

Update Makefile.
  Makefile
Due: none

README: Update TODO's.
  Makefile
  README.md
Due: doctoc-readme

README: Update TODO's.
  README.md
Due: doctoc-readme

Fix typo in Makefile.
  Makefile
Due: none

Delete obsolete scripts, and move the remaining ones out of utils/.
  Makefile
  download_gsheet.py
  utils/bs.py
  utils/deep_readme.sh
  utils/guess_py_requirements.sh
  ziff.sh
Due: python-unittest

Rename TEMPLATE-secrets.sh to TEMPLATE_secrets.sh.
  TEMPLATE_secrets.sh
Due: none

Marcion: Allow skipping existing images in img_setup.sh.
  dictionary/marcion.sourceforge.net/img_setup.sh
Due: none

Add a SKIP_EXISTING argument to Makefile and secrets.sh.
  Makefile
  TEMPLATE_secrets.sh
Due: none

Makefile: Add a TODO.
  Makefile
Due: none

Always `increment`.
  Makefile
Due: none

Flashcards: Cash read TSV's and gsheets.
  flashcards/field.py
Due: python-unittest

Control type enforcement in flashcards using a flag.
  flashcards/README.md
  flashcards/constants.py
  flashcards/deck.py
  flashcards/enforcer.py
  flashcards/field.py
  flashcards/main.py
Due: doctoc-readme, python-unittest

Add some profiling data to the archive.
  archive/cprofile/2024.07.07-output_no_type_enforced.png
  archive/cprofile/2024.07.07-output_no_type_enforced.pstats
  archive/cprofile/2024.07.07-output_type_enforced.png
  archive/cprofile/2024.07.07-output_type_enforced.pstats
Due: none

Update timestamp.
  timestamp.txt
Due: none

Avoid using `glob.glob` in flashcard fields.
  flashcards/constants.py
  flashcards/field.py
  timestamp.txt
Due: python-unittest

Rename the profiling output to indicate what exactly we profiled.
  archive/cprofile/2024.07.07-flashcards_main.py-no_type_enforced.png
  archive/cprofile/2024.07.07-flashcards_main.py-no_type_enforced.pstats
  archive/cprofile/2024.07.07-flashcards_main.py-type_enforced.png
  archive/cprofile/2024.07.07-flashcards_main.py-type_enforced.pstats
Due: none

Fix typo in flashcards/constants.py.
  flashcards/constants.py
Due: python-unittest

Include Dawoud unconditionally.
  flashcards/constants.py
Due: python-unittest

Move unused script to the archive.
  archive/download_gsheet.py
Due: python-unittest
