Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, tidy-xml, json-tool, marcion-validate, python-unittest

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

json-tool:
  name: json-tool
  entry: bash -c 'for x in "$@"; do NEW=$(python -m json5.tool --as-json --indent 2 "$x") && echo "${NEW}" > "$x" && python -m json.tool --no-ensure-ascii --indent 2 "$x" "$x"; done' --
  language: system

marcion-validate:
  name: marcion-validate
  entry: dictionary/marcion.sourceforge.net/img_validate.sh
  language: script
  pass_filenames: false

python-unittest:
  name: python-unittest
  entry: bash -c 'for x in $(dirname "$@" | grep --invert "/test$" | sort | uniq); do python -m unittest discover "$x"; done' --
  language: system
  verbose: true

[#1][Crum/Flashcards] Run `make flashcards test` to pick up Dawoud page.
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/34.html
Due: tidy-html

[#77][Crum/Appendices] Download the Derivations Appendices GSHEET.
  Makefile
  dictionary/marcion.sourceforge.net/data/input/derivation_appendices.tsv
Due: none

[#122][Crum/Flashcards/Site] Better Handling of Query Parameters.
  flashcards/constants/a_coptic_dictionary/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: none

[#116,#189][Crum/Appendix/Makefile] Add a TODO.
  Makefile
Due: none

[#77][Crum] Add Links to the Derivations in the Derivations Sheet.
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest

[#77][Crum/HTML] Assign an ID and a Class to Each Derivation Row.
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest

[#77][Crum/Flashcards] Add a Hidden Span Bearing Derivation Keys.
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest

[Crum] Delete Appendix Placeholder Columns from the Roots TSV.
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest

[Crum/Flashcards] List of Dictionary Pages Follows the Meaning.
  flashcards/constants.py
Due: python-unittest

[#77][Crum/Flashcards] Handle `dev` and `drv-key` in JavaScript and CSS.
  flashcards/constants/a_coptic_dictionary/script.js
  flashcards/constants/a_coptic_dictionary/style.css
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/style.css
Due: none

[fix #200][Crum/Images/Helper] Support Operations on Individual Files.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest

[#116][Crum/Appendices] Run `make crum_appendices` for valid JSON Senses.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#116][Crum/Senses] Expect a Valid JSON.
  Makefile
Due: none

[#116][Crum/Flashcards] Show Image Senses by Default, instead of Stems.
  flashcards/constants.py
  flashcards/constants/a_coptic_dictionary/style.css
Due: python-unittest

[fix #116][Crum/Images] Helper Prints the Senses.
  dictionary/marcion.sourceforge.net/img_helper.py
  utils.py
Due: python-unittest

[#5][Crum/Images] Update Some Images.
  dictionary/marcion.sourceforge.net/data/img-300/1-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/17-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/29-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/40-1-2.jpeg
  dictionary/marcion.sourceforge.net/data/img-sources/1-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/17-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/29-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/40-1-2.txt
  dictionary/marcion.sourceforge.net/data/img/1-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/17-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/29-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/40-1-2.jpeg
Due: marcion-validate

[#116,#77][Crum/Flashcards] Persist the `dev` Parameter.
  flashcards/constants/a_coptic_dictionary/script.js
Due: none

[#189][Crum/Senses] Run `make crum_appendices` to pick up some Senses.
  dictionary/marcion.sourceforge.net/data/input/root_appendices.tsv
Due: none

[#77][Crum/HTML] Run `make crum`.
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00001_00100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00101_00200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00201_00300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00301_00400.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00401_00500.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00501_00600.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00601_00700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00701_00800.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00801_00900.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00901_01000.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01001_01100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01101_01200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01201_01300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01301_01400.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01401_01500.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01501_01600.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01601_01700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01701_01800.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01801_01900.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01901_02000.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02001_02100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02101_02200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02201_02300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02301_02400.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02401_02500.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02501_02600.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02601_02700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02701_02800.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02801_02900.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03001_03100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03101_03200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03201_03300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03301_03400.tsv
Due: none

[#77][Crum/HTML] Show the `dev` Derivation Keys Only Once.
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest

[#59][README] Initial Pipeline Diagram.
  README.md
  data/coptic.drawio.png
Due: none

[Crum/Flashcards] Delete Unused String Format Arguments.
  flashcards/constants.py
  flashcards/field.py
Due: python-unittest

[#188][Flashcards/Crum] Set a Fixed Width for the Crum and Dawoud Scans.
  flashcards/constants.py
  flashcards/field.py
Due: python-unittest

[Stats] Run `make stats`.
  data/stats.tsv
Due: none

[#169][Crum/Flashcards/HTML] Add and improve `reset` and `dev` buttons.
  dictionary/marcion.sourceforge.net/tree.py
  flashcards/constants.py
  flashcards/constants/a_coptic_dictionary/script.js
Due: python-unittest

[#169][Crum/Flashcards] Derivation Keys have a `dev` Class.
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00001_00100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00101_00200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00201_00300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00301_00400.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00401_00500.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00501_00600.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00601_00700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00701_00800.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00801_00900.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00901_01000.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01001_01100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01101_01200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01201_01300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01301_01400.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01401_01500.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01501_01600.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01601_01700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01701_01800.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01801_01900.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01901_02000.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02001_02100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02101_02200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02201_02300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02301_02400.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02401_02500.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02501_02600.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02601_02700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02701_02800.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02801_02900.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03001_03100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03101_03200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03201_03300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03301_03400.tsv
Due: none

[#188][Crum/HTML] Fix Bug. Width CSS Attribute is Always Present.
  flashcards/field.py
Due: python-unittest

[Makefile] Delete Unused Makefile Rule.
  Makefile
Due: none

[#201][Site/TypeScript] Initial Environment Setup for TypeScript.
  .gitignore
  .pre-commit-config.yaml
  Makefile
  tsconfig.json
Due: json-tool

[fix #201][Site/Typescript] Write TypeScript Source.
  .pre-commit-config.yaml
  Makefile
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/constants/a_coptic_dictionary/tsconfig.json
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
  tsconfig.json
Due: json-tool

[#201][TypeScript/Makefile] Rename Rule to `npm_install`.
  Makefile
Due: none

[#201][Crum/TypeScript] Add More Type Hints in the Code.
  flashcards/constants/a_coptic_dictionary/script.ts
Due: none

[#201][Pre-commit] Update ESLint Config for TypeScript and JavaScript.
  .pre-commit-config.yaml
  eslint.config.js
  eslint.config.mjs
Due: none

[#201][TypeScript] Appease the Linter.
  flashcards/constants/a_coptic_dictionary/script.js
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: none

[Crum/Flashcards] Simplify Retrievals from `roots.tsvs`.
  flashcards/constants.py
Due: python-unittest

Path conditions:
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: \.json$, but not: ^archive/
  marcion-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
