Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctoc, tidy-html, tidy-xml, python-unittest, json-tool

Path conditions:
  doctoc: any of: \.(md|markdown|mdown)$, but not: ^archive/
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  json-tool: any of: \.json$, but not: ^archive/

[Images] Add some images.
  dictionary/marcion.sourceforge.net/data/img-300/2006-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2006-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2006-1-3.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2007-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2008-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2009-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2009-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2010-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2010-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/2006-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2006-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2006-1-3.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2007-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2008-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2009-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2009-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2010-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2010-1-2.txt
  dictionary/marcion.sourceforge.net/data/img/2006-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2006-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img/2006-1-3.jpg
  dictionary/marcion.sourceforge.net/data/img/2007-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2008-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2009-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2009-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2010-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2010-1-2.jpg
Due: none

[#80][Images] Slight improvements to the script.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[Requirements] Add `colorama` python library as a dependency.
  requirements.txt
Due: none

[Colors] Add a basic Python package with helpers for output coloring.
  utils/colors.py
  utils/test/__init__.py
  utils/test/test_colors.py
Due: python-unittest

[Images] The image finding script prints errors in red.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[Makefile] Fix typo. Use 'python' instead of 'python3'.
  Makefile
Due: none

[Images] Append a new line to source files.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[Images] Rename `colors` to `printer`, and support more colors.
  dictionary/marcion.sourceforge.net/img_find.py
  utils/colors.py
  utils/printer.py
  utils/test/test_colors.py
  utils/test/test_printer.py
Due: python-unittest

[Images] Print errors in red using colorama.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[Flashcards] Color some outputs.
  flashcards/deck.py
Due: python-unittest

[cleanup] Get rid of the `printer` package.
  utils/printer.py
  utils/test/__init__.py
  utils/test/test_printer.py
Due: python-unittest

[Stats] Run `make stats`.
  stats.tsv
Due: none

[Flashcards] Delete the Bible decks.
  Makefile
  flashcards/constants.py
Due: python-unittest

[README] Delete the obsolete documentation about the Bible flashcards.
  README.md
  flashcards/data/img/a-coptic-dictionary/edit/edit.png
  flashcards/data/img/bible/back.png
  flashcards/data/img/bible/front.png
  flashcards/data/img/bible/toc.png
Due: doctoc

[Flashcards] Remove support for variable deck names.
  flashcards/constants.py
  flashcards/deck.py
  flashcards/main.py
Due: python-unittest

[Flashcards] Reenable type enforcement.
  flashcards/enforcer.py
Due: python-unittest

[Flashcards] Add more type hints.
  flashcards/constants.py
  flashcards/field.py
  flashcards/main.py
Due: python-unittest

[Flashcards] Define the deck as a class rather than a function.
  flashcards/constants.py
  flashcards/deck.py
Due: python-unittest

[Flashcards] Restructure the deck class to make it platform-agnostic.
  flashcards/deck.py
Due: python-unittest

[Flashcards] Restructure main to make it platform-agnostic.
  flashcards/constants.py
  flashcards/main.py
Due: python-unittest

[#71][Flashcards] Add TODO's about Anki-specific behavior.
  flashcards/field.py
Due: python-unittest

[#71][Flashcards] Define a method to write a deck to a directory.
  flashcards/deck.py
Due: python-unittest

[#71][Flashcards] Redefine the output path.
  .gitignore
  Makefile
  flashcards/main.py
Due: python-unittest

[#71][Flashcards] Define logic to export flashcard data in DIR format.
  flashcards/constants.py
  flashcards/deck.py
  flashcards/main.py
Due: python-unittest

[#71][Flashcards/Makefile] Export the data in DIR format.
  Makefile
Due: none

[#71][Pre-commit] Allow large TSV files.
  .pre-commit-config.yaml
Due: none

[#71][Flashcards] Add a newline to end of file to appease a pre-commit.
  flashcards/deck.py
Due: python-unittest

Revert "[Flashcards] Reenable type enforcement."
  flashcards/enforcer.py
Due: python-unittest

[#71][Flashcards] Delete old script used to verify Anki content.
  Makefile
  ziff.sh
Due: none

[Flashcards/Makefile] Delete unused Make rules.
  Makefile
  TEMPLATE_vault.sh
Due: none

[#71][Flashcards] Store raw keys in the deck class.
  flashcards/deck.py
Due: python-unittest

[#71][Flashcards] Support writing flashcards in HTML format.
  flashcards/deck.py
  flashcards/main.py
Due: python-unittest

[#71][Flashcards/Makefile] Use Bohairic for testing instead of Sahidic.
  Makefile
Due: none

[#71][Flashcards] Use HTML class instead of id. id was miused!
  flashcards/constants.py
  flashcards/deck.py
Due: python-unittest

[#71][Crum] Use HTML class instead of id. id was miused.
  dictionary/marcion.sourceforge.net/tree.py
  flashcards/constants.py
Due: python-unittest

[#71][Flashcards] Add alternative text to images.
  flashcards/field.py
Due: python-unittest
