Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unittest-exists, tidy-html, tidy-xml, json-tool, crum-img-validate, python-unittest, check-do-not-submit

Path conditions:
  python-unittest-exists: any of: \.py$ and not (setup.py) and not (^archive/)
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: \.json$ and not (tsconfig\.json$) and not (^archive/)
  crum-img-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
  check-do-not-submit: any of: not (^\.pre-commit-config\.yaml$), but not: ^archive/

[Env] `crum` Helper can Open Multiple Pages.
  .helpers
Due: check-do-not-submit

[README] Remove doctoc Lists mistakenly left in the middle of the README.
  README.md
Due: check-do-not-submit

[#209][Crum] Add Words that are Absent from Crum to the README.
  README.md
Due: check-do-not-submit

[#209][Crum/Flashcards] Crum Section is an All-or-Nothing.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#171][Crum/Flashcards] Add a Second `<br/>` when Images are Absent.
  flashcards/constants.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#174][Crum/Flashcards] Images Must Have Classes.
  flashcards/constants.py
  flashcards/field.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#174][Crum/Flashcards/JavaScript] Handle `crum-page-img` Class.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
Due: check-do-not-submit

[Flashcards] Merge parameters `get_paths` and `sort_paths` for `media`.
  flashcards/constants.py
  flashcards/field.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#124][Crum/TypeScript] Handle `explanatory` Class.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
Due: check-do-not-submit

[#124][Crum/Flashcards] Explanatory Images Use Source for "alt".
  flashcards/constants.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#209][Crum] Ignore the Placeholder "0a" Crum Page for Missing Words.
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parser.py
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#209][Crum] Run `make crum` to Ignore the Zero Page.
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/00301_00400.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/00701_00800.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/01601_01700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/02601_02700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/02901_03000.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/05001_05100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/05701_05800.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/05901_06000.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/06801_06900.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/07101_07200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/08901_09000.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00001_00100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00101_00200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00201_00300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00501_00600.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00801_00900.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00901_01000.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01401_01500.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01601_01700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03301_03400.tsv
Due: check-do-not-submit

[#209][Crum/Flashcards] Crum Pages can be Absent. List all Pages Once.
  flashcards/constants.py
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#209][Crum] Drop the Crum Cell from the Derivations Table when Absent.
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[fix #209][Crum/Flashcards] Run `make crum flashcards test`.
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00001_00100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00101_00200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00201_00300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00501_00600.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00801_00900.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00901_01000.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01401_01500.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01601_01700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03301_03400.tsv
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/122.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/1508.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/1665.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/18.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/216.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/236.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/3381.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/43.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/581.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/902.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/973.html
Due: tidy-html, check-do-not-submit

[JavaScript/Pre-commit] Expand Extensions for ESLint.
  .pre-commit-config.yaml
Due: none

[#141][JavaScript/Pre-commit] Enforce Single Quotes.
  .pre-commit-config.yaml
  eslint.config.mjs
Due: check-do-not-submit

[#141][TypeScript/Pre-commit] Run `pre-commit run --all-files eslint`.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: check-do-not-submit

[#141][Crum/TypeScript] Retrieve Dialect Class from Class List.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: check-do-not-submit

[#141][Crum/TypeScript] Include more Uniformity when Possible.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: check-do-not-submit

[#141][Site/JavaScript] Stronger Obfuscation. Compromise Performance.
  site/publish.sh
Due: check-do-not-submit

[#141][Crum/JavaScript] Delete Console Log Message.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: check-do-not-submit

[#141][Site] Obfuscate Media Paths.
  site/obfuscate_paths.py
  site/publish.sh
  site/test/__init__.py
  site/test/test_obfuscate_paths.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#141][Site] Delete the "Google Tag" comment.
  site/publish.sh
Due: check-do-not-submit

[TypeScript/Pre-Commit] Allow No Null Assertion.
  eslint.config.mjs
Due: check-do-not-submit

[Crum/TypeScript] Use the No Null Assertion to Simplify Some Code.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: check-do-not-submit

[Site/TypeScript] Derivation Keys have Hyperlinks.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: check-do-not-submit

[#141][Crum/TypeScript] Avoid use of Global Variables.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: check-do-not-submit

[Stats] Run `make stats`.
  data/stats.tsv
Due: check-do-not-submit

[Crum/TypeScript] Nit: Simplify the const `JS_FMT`.
  flashcards/deck.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[#210][Crum/Flashcards/HTML] Defer Running JavaScript.
  flashcards/deck.py
Due: python-unittest-exists, python-unittest, check-do-not-submit

[fix #212][Crum/Site] Handle `?d=`. Don't Split an Empty String.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: check-do-not-submit

[fix #206,fix #202][README] Add Technical Guidelines.
  README.md
Due: check-do-not-submit

[#171,#212][Crum/Site] Don't Encode the Search Parameter.
  flashcards/constants/a_coptic_dictionary/script.ts
  flashcards/data/build/a_coptic_dictionary/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: check-do-not-submit
