Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, tidy-xml, json-tool, marcion-validate, python-unittest

Path conditions:
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: \.json$, but not: ^archive/
  marcion-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/

[#111][Env] Define `color` in .env.
  .env_INFO
  dictionary/marcion.sourceforge.net/img_validate.sh
Due: none

[#177,#183][Stats/README] Add Docs about Stats and Language Bias.
  README.md
Due: none

[#95][JavaScript] Use an Indentation of 2 Spaces.
  eslint.config.js
Due: none

[#95[[JavaScript] Run `pre-commit run --all-files eslint` to reindent.
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: none

[#95][Flashcards/JavaScript] Write pre-indented JavaScript.
  flashcards/constants.py
Due: python-unittest

[#1][Crum/Dawoud] Run `make crum_dawoud` to pick up some mappings.
  dictionary/marcion.sourceforge.net/data/marcion-dawoud/marcion_dawoud.tsv
Due: none

[#141][Site] Clean up Before Copying.
  site/publish.sh
Due: none

[#122][Site/Makefile] Rules for publishing / testing the site.
  Makefile
Due: none

[#184][Flashcards] Crum JavaScript and CSS Live in External Files.
  flashcards/constants.py
  flashcards/data/input/a_coptic_dictionary/script.js
  flashcards/data/input/a_coptic_dictionary/style.css
  utils.py
Due: python-unittest

[#184][Flashcards/Makefile] Rename the Test Rules.
  Makefile
Due: none

[#185][Flashcards/Crum/JavaScript] Suppress Failures for 'dialect'.
  flashcards/data/input/a_coptic_dictionary/script.js
Due: none

[#95][Flashcards/Pre-commit] Process JavaScript and CSS before HTML.
  .pre-commit-config.yaml
Due: none

[#185][Flashcards] Run `make flashcards test`.
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/style.css
Due: none

[fix #184][Flashcards] KELLIA and copticsite CSS Lives in External Files.
  .csslintrc
  flashcards/constants.py
  flashcards/data/input/copticsite/style.css
  flashcards/data/input/kellia/style.css
Due: python-unittest

[fix #181][Flashcards/Crum/JavaScript] Persist Dialects in Local Storage.
  flashcards/data/input/a_coptic_dictionary/script.js
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/script.js
Due: none

[#5,#183,#150][Crum/Images] Move Helpers to Utils, Refactor img_validate.
  dictionary/marcion.sourceforge.net/img_find.py
  dictionary/marcion.sourceforge.net/img_validate.py
  dictionary/marcion.sourceforge.net/main.py
  flashcards/constants.py
  flashcards/field.py
  morphology/kindle.py
  utils.py
Due: python-unittest

[#183][Crum] Rewrite the Image Validation Script in Python.
  .pre-commit-config.yaml
  dictionary/marcion.sourceforge.net/img_validate.py
  dictionary/marcion.sourceforge.net/img_validate.sh
  dictionary/marcion.sourceforge.net/test/test_img_validate.py
  utils.py
Due: python-unittest

[#5,#183][Crum/Images] Rename `img_find` to `img_helper`.
  .pre-commit-config.yaml
  Makefile
  dictionary/marcion.sourceforge.net/img_helper.py
  dictionary/marcion.sourceforge.net/test/test_img_helper.py
Due: python-unittest

[#183,#5] Image Validate is Implemented in `img_find`.
  .pre-commit-config.yaml
  dictionary/marcion.sourceforge.net/img_find.py
  dictionary/marcion.sourceforge.net/img_validate.py
  dictionary/marcion.sourceforge.net/test/test_img_validate.py
Due: python-unittest

[#183,#5][Crum/Images] Refactor `img_helper`.
  dictionary/marcion.sourceforge.net/img_helper.py
  utils.py
Due: python-unittest

[Utils] Pass an HTML Parser to BeautifulSoup to Suppress a Warning.
  utils.py
Due: python-unittest

[#183][Crum/Images] Move prompting logic to a separate function.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest

[#5,fix #183][Crum/Images] Implement Image Processing in Python.
  Makefile
  dictionary/marcion.sourceforge.net/img_helper.py
  dictionary/marcion.sourceforge.net/img_setup.sh
Due: python-unittest

[#5][Crum/Images] Print Written File Paths.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest

[Utils] Append a Newline by Default to Appease Our Pre-commit Hook.
  utils.py
Due: python-unittest

[#5][Crum/Images] Polishing `img_helper` and other Files.
  bible/stshenouda.org/main.py
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest

[#150][Flashcards/Utils] Reuse `utils.verify_unique`.
  flashcards/main.py
Due: python-unittest

[fix #187][Crum/Images]Stop Supporting SVG.
  dictionary/marcion.sourceforge.net/data/img-300/2199-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2199-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2199-1-1.svg
  dictionary/marcion.sourceforge.net/img_helper.py
Due: marcion-validate, python-unittest

[#5][Crum/Images] Polish `img_helper`.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest

[Stats] Run `make stats`.
  stats.tsv
Due: none

[#1][Crum/Dawoud] Run `make crum_dawoud` to download more mappings.
  dictionary/marcion.sourceforge.net/data/marcion-dawoud/marcion_dawoud.tsv
Due: none

[#141][Site] Rebase on `HEAD~2` not with `--root`.
  site/publish.sh
Due: none

[#82][Flashcards] Move Utils from field.py to constants.py.
  flashcards/constants.py
  flashcards/field.py
Due: python-unittest

[#112][Flashcards] Use the New Home Page Link.
  flashcards/constants.py
  flashcards/data/input/a_coptic_dictionary/style.css
  flashcards/field.py
Due: python-unittest

[Env] Define a helper `grepex` alias.
  .env_INFO
Due: none

[#112][Domain] Use the New Domain Everywhere!
  .env_INFO
  README.md
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest

[Makefile] Define a `diff` recipe.
  Makefile
Due: none
