Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, tidy-xml, json-tool, marcion-validate, python-unittest

Path conditions:
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: \.json$, but not: ^archive/
  marcion-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/

[#5][Crum/Images] Skip Size Verification for Unidentified Images.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[#5][Crum/Images] Support SVG.
  dictionary/marcion.sourceforge.net/img_setup.sh
  dictionary/marcion.sourceforge.net/img_validate.sh
Due: none

[Stats] Default to printing without saving to the file.
  Makefile
  stats.sh
Due: none

[#5][Crum/Images] Remove the Query from the URL.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[README/Images] Add examples of good use of icons.
  README.md
Due: none

[#5][Crum] Fix some images.
  dictionary/marcion.sourceforge.net/data/img-300/2123-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2123-1-2.png
  dictionary/marcion.sourceforge.net/data/img-300/2189-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2189-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/2189-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2189-1-2.txt
  dictionary/marcion.sourceforge.net/data/img/2189-1-1.png
  dictionary/marcion.sourceforge.net/data/img/2189-1-2.png
Due: marcion-validate

[#5][Crum/Images] Check for Invalid Converted Extensions as well.
  dictionary/marcion.sourceforge.net/img_validate.sh
Due: none

[#17][Pre-commit/Crum] Rename `marcion-validate` to `crum-img-validate`.
  .pre-commit-config.yaml
Due: none

[Bash] Always use `set -o errexit` and `set -o nounset`.
  archive/crop_y.sh
  dictionary/marcion.sourceforge.net/img_setup.sh
  dictionary/marcion.sourceforge.net/img_validate.sh
  env.sh
  site/publish.sh
  stats.sh
Due: none

[Stats] Run `make stats`.
  stats.tsv
Due: none

[Crum] Add an Option to Stringify the Word Without the Detached Types.
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest

[#164][Crum] Produce a "word-title" column.
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest

[#164][Flashcards] Store titles (without using them).
  flashcards/constants.py
  flashcards/deck.py
Due: python-unittest

[164][Flashcards/Crum] Use the Word Title as HTML Title.
  flashcards/deck.py
Due: python-unittest

[#49][Crum/Flashcards] Add Links to Coptic Dictionary Online.
  flashcards/constants.py
Due: python-unittest

[#162][Crum/Images] Polish the Script.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[fix #162][Crum/Images] Script can Accept Key.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[#5][Crum] Add Images.
  dictionary/marcion.sourceforge.net/data/img-300/2310-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2311-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/2310-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2311-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/2310-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2311-1-1.jpg
Due: marcion-validate

[#5][Crum/Images] Fix bug in img_find. Support SVG.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[#5,#162][Crum/Images] Script Can Delete Existing Images.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[#161][README] Polishing.
  README.md
Due: none

[#5][Crum/Flashcards] Run `make flashcards test`.
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2310.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2311.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2310-1-1.jpg
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2311-1-1.jpg
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2310.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2311.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/dictionary_marcion.sourceforge.net_data_img-300_2310-1-1.jpg
  flashcards/data/output/html/a_coptic_dictionary__bohairic/dictionary_marcion.sourceforge.net_data_img-300_2311-1-1.jpg
Due: tidy-html

[Bash] Remove `set -o errexit` from `env.sh`.
  env.sh
Due: none

[#162][Crum/Images] Fix bug in logic to change key in `img_find.py`.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[#5][Crum/Images] Fix Bug in Archived Script.
  archive/crop_y.sh
Due: none

[#162][Crum/Images] Fix bug in `img_find.py`.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[#9][Crum] Fix typo. It's "stature".
  dictionary/marcion.sourceforge.net/data/marcion-input/coptwrd.tsv
Due: none

[#9][Crum/Typos] Run `make flashcards crum test` to pick up a typo fix.
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02301_02400.tsv
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2373.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2373.html
Due: tidy-html

[#43,#64][Crum] Add a TODO about Parsing Rigor.
  dictionary/marcion.sourceforge.net/constants.py
Due: python-unittest

[Utils] Define an `html_text` function.
  utils.py
Due: python-unittest

[Crum/Images] Use `utils.html_text` to get an HTML-free Meaning.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[Crum] Stop Populating the `derivations-txt` column.
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest
