Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, tidy-xml, json-tool, marcion-validate, python-unittest

Path conditions:
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: \.json$, but not: ^archive/
  marcion-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/

[#151,#139,#123][Bible/HTML] Write Only One Format for HTML Output.
  bible/stshenouda.org/main.py
Due: python-unittest

[#123][Bible/HTML] Move the Sources File to the HTML Subdirectory.
  bible/stshenouda.org/data/output/html/sources.html
Due: tidy-html

[#123][Bible/EPUB] `git mv`
  bible/stshenouda.org/data/output/epub/1/akhmimic.epub
  bible/stshenouda.org/data/output/epub/1/bohairic.epub
  bible/stshenouda.org/data/output/epub/1/bohairic_english.epub
  bible/stshenouda.org/data/output/epub/1/dialectp.epub
  bible/stshenouda.org/data/output/epub/1/english.epub
  bible/stshenouda.org/data/output/epub/1/fayyumic.epub
  bible/stshenouda.org/data/output/epub/1/greek.epub
  bible/stshenouda.org/data/output/epub/1/lycopolitan.epub
  bible/stshenouda.org/data/output/epub/1/mesokemic.epub
  bible/stshenouda.org/data/output/epub/1/oldbohairic.epub
  bible/stshenouda.org/data/output/epub/1/sahidic.epub
  bible/stshenouda.org/data/output/epub/2/akhmimic.epub
  bible/stshenouda.org/data/output/epub/2/bohairic.epub
  bible/stshenouda.org/data/output/epub/2/bohairic_english.epub
  bible/stshenouda.org/data/output/epub/2/dialectp.epub
  bible/stshenouda.org/data/output/epub/2/english.epub
  bible/stshenouda.org/data/output/epub/2/fayyumic.epub
  bible/stshenouda.org/data/output/epub/2/greek.epub
  bible/stshenouda.org/data/output/epub/2/lycopolitan.epub
  bible/stshenouda.org/data/output/epub/2/mesokemic.epub
  bible/stshenouda.org/data/output/epub/2/oldbohairic.epub
  bible/stshenouda.org/data/output/epub/2/sahidic.epub
  bible/stshenouda.org/data/output/epub/3/akhmimic.epub
  bible/stshenouda.org/data/output/epub/3/bohairic.epub
  bible/stshenouda.org/data/output/epub/3/bohairic_english.epub
  bible/stshenouda.org/data/output/epub/3/dialectp.epub
  bible/stshenouda.org/data/output/epub/3/english.epub
  bible/stshenouda.org/data/output/epub/3/fayyumic.epub
  bible/stshenouda.org/data/output/epub/3/greek.epub
  bible/stshenouda.org/data/output/epub/3/lycopolitan.epub
  bible/stshenouda.org/data/output/epub/3/mesokemic.epub
  bible/stshenouda.org/data/output/epub/3/oldbohairic.epub
  bible/stshenouda.org/data/output/epub/3/sahidic.epub
Due: none

[#109][Site] Copy the Bible.
  site/publish.sh
Due: none

[Bible/HTML] Escape Text.
  bible/stshenouda.org/main.py
Due: python-unittest

[Bible/HTML] Run `make bible_no_epub test`.
  bible/stshenouda.org/data/output/html/akhmimic/haggai.html
  bible/stshenouda.org/data/output/html/bohairic/amos.html
  bible/stshenouda.org/data/output/html/bohairic/exodus.html
  bible/stshenouda.org/data/output/html/bohairic/ezekiel.html
  bible/stshenouda.org/data/output/html/bohairic/genesis.html
  bible/stshenouda.org/data/output/html/bohairic/gospel_of_st__matthew.html
  bible/stshenouda.org/data/output/html/bohairic/haggai.html
  bible/stshenouda.org/data/output/html/bohairic/jeremiah.html
  bible/stshenouda.org/data/output/html/bohairic/job.html
  bible/stshenouda.org/data/output/html/bohairic/lamentations_of_jeremiah.html
  bible/stshenouda.org/data/output/html/bohairic/malachi.html
  bible/stshenouda.org/data/output/html/bohairic/micah.html
  bible/stshenouda.org/data/output/html/bohairic/proverbs.html
  bible/stshenouda.org/data/output/html/bohairic/psalms.html
  bible/stshenouda.org/data/output/html/bohairic_english/amos.html
  bible/stshenouda.org/data/output/html/bohairic_english/exodus.html
  bible/stshenouda.org/data/output/html/bohairic_english/ezekiel.html
  bible/stshenouda.org/data/output/html/bohairic_english/genesis.html
  bible/stshenouda.org/data/output/html/bohairic_english/gospel_of_st__matthew.html
  bible/stshenouda.org/data/output/html/bohairic_english/haggai.html
  bible/stshenouda.org/data/output/html/bohairic_english/jeremiah.html
  bible/stshenouda.org/data/output/html/bohairic_english/job.html
  bible/stshenouda.org/data/output/html/bohairic_english/lamentations_of_jeremiah.html
  bible/stshenouda.org/data/output/html/bohairic_english/malachi.html
  bible/stshenouda.org/data/output/html/bohairic_english/micah.html
  bible/stshenouda.org/data/output/html/bohairic_english/proverbs.html
  bible/stshenouda.org/data/output/html/bohairic_english/psalms.html
  bible/stshenouda.org/data/output/html/fayyumic/song_of_songs.html
  bible/stshenouda.org/data/output/html/sahidic/ecclesiastes.html
  bible/stshenouda.org/data/output/html/sahidic/first_samuel.html
  bible/stshenouda.org/data/output/html/sahidic/gospel_of_st__john.html
  bible/stshenouda.org/data/output/html/sahidic/gospel_of_st__luke.html
  bible/stshenouda.org/data/output/html/sahidic/gospel_of_st__mark.html
  bible/stshenouda.org/data/output/html/sahidic/gospel_of_st__matthew.html
  bible/stshenouda.org/data/output/html/sahidic/jonah.html
  bible/stshenouda.org/data/output/html/sahidic/joshua.html
  bible/stshenouda.org/data/output/html/sahidic/song_of_songs.html
  bible/stshenouda.org/data/output/html/sahidic/tobit.html
Due: tidy-html

[#144][Crum] Simplify arguments.
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest

[#144][Crum/Images] Simplify Arguments in the Image-Finding Script.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest

[#5][Crum/Images] Add an Image.
  dictionary/marcion.sourceforge.net/data/img-300/2036-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/2036-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/2036-1-1.png
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2036.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_2036-1-1.jpg
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2036.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/dictionary_marcion.sourceforge.net_data_img-300_2036-1-1.jpg
Due: tidy-html, marcion-validate

[fix #114][Crum] Use _assumed_ instead of _not attested_.
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/parser.py
  dictionary/marcion.sourceforge.net/word.py
Due: python-unittest

[fix #60][Pipeline] Move `inflect` and `kindle` to the Root Directory.
  dictionary/marcion.sourceforge.net/constants.py
  dictionary/marcion.sourceforge.net/main.py
  dictionary/marcion.sourceforge.net/word.py
  kindle/kindle.py
  kindle/test/__init__.py
  kindle/test/test_kindle.py
  morphology/constants.py
  morphology/inflect.py
  morphology/test/__init__.py
  morphology/test/test_constants.py
  morphology/test/test_inflect.py
Due: python-unittest

[#1][Crum/Dawoud] Run `make crum_dawoud`. ⲥⲉⲕ is substantial.
  dictionary/marcion.sourceforge.net/data/marcion-dawoud/marcion_dawoud.tsv
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/49.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/49.html
Due: tidy-html

[Stats] Run `make stats`.
  stats.tsv
Due: none

[#9][Crum/Typos] Fix typo. It's "ⲃⲉⲕⲉⲣ." for watchman's wage.
  dictionary/marcion.sourceforge.net/data/marcion-input/coptdrv.tsv
  dictionary/marcion.sourceforge.net/data/output/mobi/dialect-B/00101_00200.xhtml
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/02101_02200.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00101_00200.tsv
Due: tidy-xml

[#44][Morphology] Move `kindle` to the `morphology` subdirectory.
  dictionary/marcion.sourceforge.net/main.py
  morphology/kindle.py
  morphology/test/test_kindle.py
Due: python-unittest

[#44][Crum/Morphology] Stop Writing Inflections or a Kindle Dictionary.
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest

[#44][Morphology/Makefil] Make Recipes Idempotent.
  Makefile
Due: none

[#9][Crum/Flashcards] Pick up a Typo.
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/155.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/155.html
Due: tidy-html

[Crum] Retrieve the notes from the gsheet.
  Makefile
Due: none

[#161][README] Document some Planning Conventions.
  README.md
Due: none

[#5][Crum/Images] Add an Image.
  dictionary/marcion.sourceforge.net/data/img-300/1737-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/1737-2-1.txt
  dictionary/marcion.sourceforge.net/data/img/1737-2-1.jpg
Due: marcion-validate

[#9][Crum/Typos] Fix typo. Watchman is ⲁⲛⲟⲩⲉⲣϣⲉ (S).
  dictionary/marcion.sourceforge.net/data/marcion-input/coptdrv.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/07201_07300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/01701_01800.tsv
Due: none

[#9,#5][Flashcards] Run `make flashcards test` to pick up stuff.
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/1737.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_1737-2-1.jpg
  flashcards/data/output/html/a_coptic_dictionary__bohairic/1737.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/dictionary_marcion.sourceforge.net_data_img-300_1737-2-1.jpg
Due: tidy-html

[#161][README] Add a note about tracking issue feasibility.
  README.md
Due: none

[#163][Crum] Run `make crum`.
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02001_02100.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/03201_03300.tsv
Due: none

[fix #163][Crum] Assume Akhmimic for undialected words starting with Ⳉ.
  dictionary/marcion.sourceforge.net/parser.py
Due: python-unittest

[fix #163][Crum/Flashcards] Delete Some Akhmimic from Bohairic.
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2066.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2067.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2068.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2069.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2070.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2071.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2072.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/3229.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2066.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2067.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2068.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2069.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2070.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2071.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2072.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/3229.html
Due: tidy-html

[#163][Crum] Add a list of undialected entries in the README.
  dictionary/README.md
Due: none

[#9][Crum] Fix typo. It's "hastily".
  dictionary/marcion.sourceforge.net/data/marcion-input/coptwrd.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02101_02200.tsv
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2176.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2176.html
Due: tidy-html

[#1][Crum/Dawoud] Updating pages.
  dictionary/marcion.sourceforge.net/data/marcion-dawoud/marcion_dawoud.tsv
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2077.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2082.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/40.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2077.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/2082.html
  flashcards/data/output/html/a_coptic_dictionary__bohairic/40.html
Due: tidy-html

[#5][Crum/Images] Add Images.
  dictionary/marcion.sourceforge.net/data/img-300/2196-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/2197-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/2196-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/2197-1-1.txt
  dictionary/marcion.sourceforge.net/data/img/2196-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/2197-1-1.jpg
Due: marcion-validate

[#5][Crum/Images] Print the Key and Link.
  dictionary/marcion.sourceforge.net/img_find.py
Due: python-unittest
