Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: tidy-html, tidy-xml, json-tool, marcion-validate, python-unittest

Path conditions:
  tidy-html: any of: .*\.html, but not: ^archive/
  tidy-xml: any of: .*\.(xml|xhtml|opf)$, but not: ^archive/
  json-tool: any of: \.json$, but not: ^archive/
  marcion-validate: any of: ^dictionary/marcion.sourceforge.net/data/img.*, but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/

[Crum] Fix Bug. Only populate the links for the roots.
  dictionary/marcion.sourceforge.net/main.py
Due: python-unittest

[#182][Site] Modify the Pipeline to Write the Google Analytics Tag.
  site/publish.sh
Due: none

[#16][README] List Hosting Platforms.
  README.md
Due: none

[fix #180][Stats] Fix Bug. Skip header line when counting TSV entries.
  stats.sh
Due: none

[#177][Stats] Remove Buggy Statistic.
  stats.sh
  stats.tsv
Due: none

[#177][Stats] Restore the Dawoud Sum Statistic.
  stats.sh
Due: none

[#177,#1][Crum/Dawoud] We use a Single Column for the Crum/Dawoud Map.
  Makefile
  flashcards/constants.py
  stats.sh
Due: python-unittest

[#1][Crum/Dawoud] Run `make crum_dawoud` for the single-column layout.
  dictionary/marcion.sourceforge.net/data/marcion-dawoud/marcion_dawoud.tsv
Due: none

[#1][Crum/Dawoud] Run `make flashcards test`.
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/198.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/2693.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/442.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/521.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/537.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/538.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/98.html
Due: tidy-html

[#78][Crum/Augmentations] Dawoud Pages and Notes Live in the Same Sheet.
  Makefile
  dictionary/marcion.sourceforge.net/data/notes/notes.tsv
Due: none

[Site/Makefile] Nit: Avoid Prefix Collisions in Auxiliary Rule Name.
  Makefile
Due: none

[#177][Stats] Add a statistic for the number of commits in the repo.
  stats.sh
  stats.tsv
Due: none

[#177][Stats] Deduplicate shellcheck directives.
  stats.sh
Due: none

[#177][Stats] Add crum_dawoud_sum to the header.
  stats.tsv
Due: none

[#177][Stats] Add a Statistic for the Number of Contributors.
  stats.sh
  stats.tsv
Due: none

[#9][Crum/Typos] Ⲙ̀ϩⲟⲧ is *mallet*, not *wallet*.
  dictionary/marcion.sourceforge.net/data/marcion-input/coptwrd.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/02901_03000.tsv
Due: none

[177][Stats] Append Tab Characters so the TSV Format is Valid.
  stats.tsv
Due: none

[Stats] Run `make stats`.
  stats.tsv
Due: none

[fix #191][Site] Add an Icon.
  site/icon-circle.png
  site/icon.jpg
  site/publish.sh
Due: none

[#191][Site/Makefile] Restructure the Site Makefile Rules.
  Makefile
  site/publish.sh
Due: none

[#78,#123][Crum] Store a Local Copy Appendices in a Single TSV.
  Makefile
  dictionary/marcion.sourceforge.net/data/input/appendices.tsv
  dictionary/marcion.sourceforge.net/data/marcion-dawoud/marcion_dawoud.tsv
  dictionary/marcion.sourceforge.net/data/notes/notes.tsv
  flashcards/constants.py
  stats.sh
Due: python-unittest

[#9][Crum/Flashcards] Run `make flashcards test` to pick up a typo.
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/3000.html
Due: tidy-html

[#9][Crum] Fix two typos. It's *ineffable*, and *ⲣⲉⲙⲛ̀ⲣⲁⲛ*.
  dictionary/marcion.sourceforge.net/data/marcion-input/coptdrv.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/00201_00300.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/derivations.tsvs/00601_00700.tsv
  dictionary/marcion.sourceforge.net/data/output/tsvs/roots.tsvs/00001_00100.tsv
Due: none

[#1][Crum/Dawoud] Run `make crum_appendices` to pick up a few pages.
  dictionary/marcion.sourceforge.net/data/input/appendices.tsv
Due: none

[#5][Crum/Images] Fix bug in `img_helper`.
  dictionary/marcion.sourceforge.net/img_helper.py
Due: python-unittest

[#5][Crum/Images] Update Images for 11 (ⲁⲙⲁϩⲓ).
  dictionary/marcion.sourceforge.net/data/img-300/11-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/11-1-2.jpg
  dictionary/marcion.sourceforge.net/data/img-300/11-2-1.jpeg
  dictionary/marcion.sourceforge.net/data/img-300/11-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/11-4-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/11-4-2.webp
  dictionary/marcion.sourceforge.net/data/img-300/11-5-1.jpg
  dictionary/marcion.sourceforge.net/data/img-300/11-7-1.jpg
  dictionary/marcion.sourceforge.net/data/img-sources/11-1-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/11-1-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/11-2-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/11-4-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/11-4-2.txt
  dictionary/marcion.sourceforge.net/data/img-sources/11-5-1.txt
  dictionary/marcion.sourceforge.net/data/img-sources/11-7-1.txt
  dictionary/marcion.sourceforge.net/data/img/11-1-1.png
  dictionary/marcion.sourceforge.net/data/img/11-1-2.png
  dictionary/marcion.sourceforge.net/data/img/11-2-1.jpeg
  dictionary/marcion.sourceforge.net/data/img/11-2-1.jpg
  dictionary/marcion.sourceforge.net/data/img/11-4-1.png
  dictionary/marcion.sourceforge.net/data/img/11-4-2.webp
  dictionary/marcion.sourceforge.net/data/img/11-5-1.png
  dictionary/marcion.sourceforge.net/data/img/11-7-1.png
Due: marcion-validate

[#5][Crum/Images] Fix Bug in an Archived Script.
  archive/crop_y.sh
Due: none

[#1,#5,#9][Crum/Flashcards] Run `make flashcards test`.
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/11.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/15.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/201.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/211.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/34.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/39.html
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_11-1-1.jpg
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_11-1-2.jpg
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_11-2-1.jpeg
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_11-2-1.jpg
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_11-4-1.jpg
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_11-4-2.webp
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_11-5-1.jpg
  flashcards/data/output/html/a_coptic_dictionary__all_dialects/dictionary_marcion.sourceforge.net_data_img-300_11-7-1.jpg
Due: tidy-html

[#177,#78][Stats] Add Stats for Crum Notes, and LOC per Language.
  stats.sh
  stats.tsv
Due: none

[Env] Define a helper `findex` function.
  .env_INFO
Due: none

[Site] Publish the CNAME File as well.
  site/CNAME
  site/publish.sh
Due: none

[Site] Delete Everything in the Site Repo Prior to Setup.
  site/publish.sh
Due: none

[Site/CSS] `hover-link` Explicitly Disables Link Format unless Hovered.
  flashcards/data/input/a_coptic_dictionary/style.css
Due: none

[Flashcards] Duplicate Crum and Dawoud Page Lists, and add Hyperlinks.
  flashcards/constants.py
Due: python-unittest

[Site] Rebase with --root, not on HEAD~2.
  Makefile
Due: none
