Repository pishoyg/coptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctoc, tidy-html, tidy-xml, python-unittest

doctoc:
  name: doctoc
  entry: doctoc
  language: system

tidy-html:
  name: tidy-html
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80
  language: system

tidy-xml:
  name: tidy-xml
  entry: tidy -indent -modify -quiet --tidy-mark no -wrap 80 -xml
  language: system

python-unittest:
  name: python-unittest
  entry: bash -c 'for x in $(dirname "$@" | uniq); do python -m unittest discover "$x"; done' --
  language: system
  verbose: true

[README] Highlight p0 items in boldface.
  README.md
Due: doctoc

[Pre-commit] Big pre-commit udpate, with a few small fixes.
  .pre-commit-config.yaml
  dictionary/marcion.sourceforge.net/main.py
  flashcards/constants.py
Due: python-unittest

[Pre-commit] Enable `mixed-line-ending`.
  .pre-commit-config.yaml
  dictionary/copticsite.com/data/raw/newly coined words 25 feb 2019.csv
  dictionary/marcion.sourceforge.net/data/marcion-input/coptdrv.tsv
  dictionary/marcion.sourceforge.net/data/marcion-raw/coptdrv.tsv
Due: none

[Bible] Formatting updates, to appease the pre-commits.
  bible/stshenouda.org/main.py
Due: python-unittest

[Pre-commit] Enable more pre-commits.
  .pre-commit-config.yaml
Due: none

[Pre-commit/Makefile] General updates.
  .pre-commit-config.yaml
  Makefile
  TEMPLATE_vault.sh
  dictionary/marcion.sourceforge.net/img_validate.sh
  requirements.txt
  stats.sh
Due: none

[Pre-commit] Enable the hooks for shell script.
  .pre-commit-config.yaml
  dictionary/marcion.sourceforge.net/img_setup.sh
  dictionary/marcion.sourceforge.net/img_validate.sh
  stats.sh
  stats.tsv
Due: none

[Pre-commit/Makefile] Add a linter for Makefile.
  .pre-commit-config.yaml
  Makefile
Due: none

[Pre-commit] Add a YAML formatter.
  .pre-commit-config.yaml
Due: none

[Pre-commit] Add codespell spell checker.
  .pre-commit-config.yaml
  README.md
  bible/stshenouda.org/main.py
  dictionary/marcion.sourceforge.net/word.py
  flashcards/constants.py
  flashcards/field.py
Due: doctoc, python-unittest

[Pre-commit] Add protobuf hooks.
  .pre-commit-config.yaml
Due: none

[Pre-commit] Add a Lua hook.
  .pre-commit-config.yaml
Due: none

[Pre-commit] Add a JSON formatter.
  .pre-commit-config.yaml
Due: none

[Makefile/README] Update TODO's about the pre-commit hooks.
  Makefile
  README.md
Due: doctoc

[README] Add a TODO about linting noise.
  README.md
Due: doctoc

[Makefile] Generic updates.
  Makefile
Due: none

[README] Setting up a new framework for tracking tasks and priorities.
  README.md
Due: doctoc

[README] Planning.
  README.md
Due: doctoc

[README] Planning and formatting.
  README.md
Due: doctoc

[Stats] Recover the stats file from a buggy run.
  stats.tsv
Due: none

[Kindle/Marcion] Eliminate duplicate lines from the HTML list.
  dictionary/marcion.sourceforge.net/tree.py
Due: python-unittest

[Pre-commit] Exclude XHTML and Mobi files from some problematic hooks.
  .pre-commit-config.yaml
Due: none

[Kindle/README] Suggest exploring cross-referencing.
  README.md
Due: doctoc

[Flashcards] Include hyperlinkds in the Crum page numbers.
  flashcards/constants.py
Due: python-unittest

[Marcion] Update an image.
  dictionary/marcion.sourceforge.net/data/img-300/163-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/163-1-1.jpg
  dictionary/marcion.sourceforge.net/data/img/163-1-1.png
Due: none

[Marcoin] Remove "#ERROR!" entries from the data.
  dictionary/marcion.sourceforge.net/data/marcion-input/coptdrv.tsv
Due: none

Path conditions:
  doctoc: any of: \.(md|markdown|mdown)$, but not: ^archive/
  tidy-html: any of: .*\.html and not (dictionary/marcion\.sourceforge\.net/data/marcion-raw/search_results\.html) and not (^archive/)
  tidy-xml: any of: .*\.(xml|xhtml), but not: ^archive/
  python-unittest: any of: \.py$, but not: ^archive/
